@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
 * {
	 box-sizing: border-box;
	 font-weight: normal;
}
 body {
     text-align: center;
     height: fit-content !important;
}
 h1 {
	 font-size: 2.2em;
}
