.info-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 5%;
    background-color: #2B7A78;
    position: absolute;
    top: 0px;
    left: 0px;
}
.info-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:#fff;
    font-size: 3vh;
}
#nav-bar{
    display: flex;
    width: 100%;
    height: 8vh;
    margin-top: -2.5vh;
    background-color: #3AAFA9;
    position: absolute;
}
.nav-ul {
    margin: 0vh;
    padding: 1vh 0vh 1vh 1vh;
  }
  .nav-image{
      padding-right: 1vh;
  }
.nav-link {
    display: inline;
    margin-right: 4vh;
    font-size: 1.2em;
  }
  .a-nav-link{
      color: #fff;
      text-decoration: none;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-shadow: 1px 1px #000;
  }
  .a-nav-link:hover{
    color: #000;
    text-decoration: none;
}
.main-image{
    background: url('img/dogos.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#main-image{
    width: 101%;
    margin-left: -11px;
    margin-top: 13vh;
}
.cardElement{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
  }
  .cardContent {
      padding: 0px;
      display: flex;
      flex-direction: row;
    }
    .cardText {
      margin:auto;
    }

    .cardElement2{
      width: 25%;
      margin-left: 0.5vh;
      margin-right: 0.5vh;
      padding: 1px;
      border-radius: 3%;
    }
    .cardArrangement{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    .cardImages{
      width: 100%;
      transition: transform .2s;
      border-radius: 3%;
    }

    .cardImages:hover{
        transform: scale(1.03);
    }
    .cardTitles{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /*Css used for main page Carousel*/

      #wrapper {
        width: 101%;
        margin-left: -11px;
        max-width: fit-content;
        position: relative;
      }
      
      #carousel {
        overflow: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
      }
      
      #carousel::-webkit-scrollbar {
        height: 0;
      }
      
      #prev,
      #next {
        display: flex;
        justify-content: center;
        align-content: center;
        background: white;
        border: none;
        padding: 8px;
        border-radius: 50%;
        outline: 0;
        cursor: pointer;
        position: absolute;
      }
      
      #prev {
        top: 50%;
        left: 0;
        transform: translate(50%, -50%);
        display: none;
      }
      
      #next {
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
      }
      
      #content {
        display: grid;
        grid-gap: 1.6vh;
        grid-auto-flow: column;
        margin: auto;
        box-sizing: border-box;
      }
      
      .item {
        width: 36vh;
        height: 36vh;
        background: green;
      }
      /* Here ends the Carousel CSS */

      /* Here starts the CSS for the services */
      .wrapper-services{
        width: 101%;
        margin-left: -11px;
        height: 20vh;
        background-color: gainsboro;
        position: relative;
        
      }
      .services-image-wrapper{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
      }
      .service-text-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .service-images{
          border-radius: 50%;
          width: 100%;
          margin-top: 2vh;
          margin-left: 2vh;
          transition: transform .2s;
      }
      .service-images:hover{
        transform: scale(1.03);
      }

      div.service-text-wrapper{
        width: 7%;
        margin-left: 2vh;
        margin-right: 2vh;
      }
      /* Here ends the CSS for the services */

      /* Here starts the CSS for the footer */
      .footer-bar{
      width: 101%;
      height: 20vh;
      margin-left: -11px;
      margin-top: 10px;
      background-color: #2B7A78;
    }
    .footer-headings{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .footer-headings2{
      display: flex;
      flex-direction: column;
    }
      /* Here ends the CSS for the footer */