@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.info-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 5%;
    background-color: #CF7634;
    position: absolute;
    top: 0px;
    left: 0px;
}
.info-text{
    text-align: center;
    color:#fff;
    font-size: 3vh;
}

/* Header image */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;

}
a{
  text-decoration:none
}
.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:550px;
  max-height:700px;
  min-width:300px;
  color:#eee;
}
.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
    transform: translateZ(0);
  background:#1B2030 url('https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') 50% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 360s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}
.header a{
  color:#eee
}
.info{
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.author{
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:50%;
  background:url(https://i.imgur.com/6DLCsZcb.jpg) center no-repeat;
  background-size:cover;
  box-shadow:0 2px 3px rgba(0,0,0,0.3);
  margin-bottom:3px
}
.info h4, .meta{
  font-size:0.7em
}
 /* Header image */

/*Start of navbar */

nav{
  background: #FF7007;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
  margin-top: 5vh;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #222222;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #ffffff;
  min-width: 21%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #000;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #0796FF;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #0755ff;
}
.cart-icon{
  padding: 0 30px;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}
.cart-icon:hover{
color: #222222;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}


/*end of navbar */

.main-image{
    background: url('img/dogos.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#main-image{
    width: 100%;
    margin-top: 1vh;
}
.cardElement{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
  }
  .cardContent {
      padding: 0px;
      display: flex;
      flex-direction: row;
    }
    .cardText {
      margin:auto;
    }

    .cardElement2{
      width: 25%;
      margin-left: 0.5vh;
      margin-right: 0.5vh;
      padding: 1px;
      border-radius: 3%;
    }
    .cardArrangement{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    .cardImages{
      width: 100%;
      transition: transform .2s;
      border-radius: 3%;
    }

    .cardImages:hover{
        transform: scale(1.03);
    }
    .cardTitles{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /*Css used for main page Carousel*/

      #wrapper {
        margin-top: 3vh;
        width: 78%;
        max-width: fit-content;
        position: relative;
        left: 14%;
      }
      
      #carousel {
        overflow: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
      }
      
      #carousel::-webkit-scrollbar {
        height: 0;
      }
      
      #prev,
      #next {
        display: flex;
        justify-content: center;
        align-content: center;
        background: white;
        border: none;
        padding: 8px;
        border-radius: 50%;
        outline: 0;
        cursor: pointer;
        position: absolute;
      }
      
      #prev {
        top: 50%;
        left: 0;
        transform: translate(50%, -50%);
        display: none;
      }
      
      #next {
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
      }
      
      #content {
        display: grid;
        grid-gap: 1.6vh;
        grid-auto-flow: column;
        margin: auto;
        box-sizing: border-box;
      }
      
      .item {
        width: 24vh;
        height: 24vh;
        background: #fff;
        border: 1px solid rgb(216, 216, 216);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }

      .item:hover{
        border: 1px solid #0796FF;
      }
      
      /* Here ends the Carousel CSS */

      /* Here starts the CSS for the services */
      .wrapper-services{
        width: 100%;
        height: 20vh;
        background-color: gainsboro;
        position: relative;
        
      }
      .services-image-wrapper{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
      }
      .service-text-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .service-images{
          border-radius: 50%;
          width: 100%;
          margin-top: 2vh;
          margin-left: 2vh;
          transition: transform .2s;
      }
      .service-images:hover{
        transform: scale(1.03);
      }

      div.service-text-wrapper{
        width: 7%;
        margin-left: 2vh;
        margin-right: 2vh;
      }
      /* Here ends the CSS for the services */

      /* Here starts the CSS for the footer */
      .footer-bar{
      width: 100%;
      height: 20vh;
      margin-top: 10px;
      background-color: #FF7007;
    }
    .footer-headings{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .footer-headings2{
      display: flex;
      flex-direction: column;
    }
    .footer-text-heading{
      margin-top: 2vh;
      color: #fff;
      text-align: center;
    }
      /* Here ends the CSS for the footer */

      /* About me page CSS*/
      
      /* End of About me page*/